<!-- left column -->
<div class="col7">
    <h3>Information for public and secret key</h3>
    <table class="table-info">
        <tr>
            <td>Owner Name</td>
            <td  class="<%= fieldsDetails['name'] ? fieldsDetails['name'].status : '' %>"><%= keyInfo.userIds[0].name %> <span class="alt side"><%= fieldsDetails['name'].original %></span></td>
        </tr>
        <tr>
            <td>Owner Email</td>
            <td class="<%= fieldsDetails['email'] ? fieldsDetails['email'].status : '' %>"><%= keyInfo.userIds[0].email %> <span class="alt side"><%= fieldsDetails['email'].original %></span></td>
        </tr>
        <tr>
            <td>Key Id</td>
            <td><%= keyInfo.keyId %></td>
        </tr>
        <tr>
            <td>Fingerprint</td>
            <td><%= keyInfo.fingerprint %></td>
        </tr>
        <tr>
            <td>Created</td>
            <td><%= keyInfo.created %></td>
        </tr>
        <tr>
            <td>Expires</td>
            <td><%= keyInfo.expires %></td>
        </tr>
        <tr>
            <td>Key Length</td>
            <td><%= keyInfo.length %></td>
        </tr>
        <tr>
            <td>Algorithm</td>
            <td><%= keyInfo.algorithm %></td>
        </tr>
    </table>
</div>

<!-- right column -->
<div class="col5 last">
    <div class="message <%= status %> side-message">
        <%
        if (status == 'warning') {
          var fieldsStr = '';
          for (var fieldName in fieldsDetails) {
            fieldsStr += ((fieldsStr == '') ? fieldName : ' and ' + fieldName);
          }
        %>
        <p>
            <strong>Warning:</strong> the <%= fieldsStr %> selected by your administrator do not match
            the name and email of your key. Passbolt will use the information provided by the administrator to identify yourself.
        </p>
        <p>
            While this is not a deal breaker this may lead to some confusions.
            <a href="#">Learn more.</a>
        </p>
        <p class="small">
            Note: Passbolt do not support multiple user identities at the moment.
        </p>
        <%
        } else {
        %>
          <p>
              <strong>Success!</strong>
              Nice one, it looks like a valid key with your key information matching the name and email provided by your passbolt administrator.
              <br><br>
              You are good to go!
          </p>
        <%
        }
        %>
    </div>
</div>